
<button class=" btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Kategori Ekle
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kategori ekle</h2>
            </div>
            <form method="post" action="/Category/AddCategory">
                <div class="modal-body">
                    <label>Kategori Adı</label>
                    <input type="text" name="CategoryName" class="form-control" />
                    <br />
                    <label>Kategori Rengi</label>
                    <input type="text" name="CategoryColor" class="form-control" />
                    <br />
                    <label>Kategori Açıklaması</label>
                    <input type="text" name="CategoryDescription" class="form-control" />                   
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>