@model IEnumerable<EntityLayer.Concrete.Category>
<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li><a href="#" class="badge "  style="background-color:@item.CategoryColor;text-align:center;color:white;width:100px;">@item.CategoryName <span>(0)</span></a></li>
        }
    </ul>
</div>