
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Author_Layout_.cshtml";
}

<!DOCTYPE html>

<html>



<body class="hold-transition sidebar-mini">

    <div class="wrapper">



        <section class="content">

            <div class="container-fluid">

                <div class="row">
                    
                        
                    @Html.Action("ProfileLeftPanel", "User")
                    



                    <div class="col-md-9">
                        <div class="card">

                            <div class="card-header p-2">

                                <ul class="nav nav-pills">

                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Bloglarım</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Aktif Yorumlarım</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Kullanıcı Bilgilerim</a></li>

                                </ul>

                            </div><!-- /.card-header -->

                            <div class="card-body">

                                <div class="tab-content">


                                    @Html.Action("MyBlogs", "User")
                                    <!-- /.tab-pane -->

                                    @Html.Action("GetCommentByBlog","User")

                                    <!-- /.tab-pane -->

                                    @Html.Action("Settings", "User")

                                    <!-- /.tab-pane -->

                                </div>


                                <!-- /.tab-content -->

                            </div><!-- /.card-body -->
                            <!-- /.nav-tabs-custom -->

                        </div>

                        <!-- /.col -->

                    </div>
                </div>

                <!-- /.row -->

            </div><!-- /.container-fluid -->

        </section>

        <!-- /.content -->



        <script src="~/Templates/AdminLTE-3.0.4/dist/js/demo.js"></script>
        <script src="~/Templates/AdminLTE-3.0.4plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/Templates/AdminLTE-3.0.4plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Templates/AdminLTE-3.0.4dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        </div>
</body>

</html>