@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList";
    Layout = "~/Views/Shared/_Admin_Layout_.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>BlogPage</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>Kategori</th>
                <th>Tarih</th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Detaylar</th>
                <th>Yorumlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BlogID</td>
                    <td>@item.BlogTitle</td>
                    <td><span class="badge "style="background-color:@item.Category.CategoryColor;color:white;min-width:75px; text-size-adjust:auto;"> @item.Category.CategoryName</span></td>
                    <td>@(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</td>
                    <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a> </td>
                    <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-success">Güncelle</a> </td>
                    <td><a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-primary">Detaylar</a> </td>
                    <td><a href="/Blog/GetCommentByBlog/@item.BlogID" class="btn btn-dark">Yorumlar</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Blog/AddBlog" class="btn btn-primary">Blog Ekle</a>
</body>
</html>